body {
  background-color: black;
  font-family: garamond, Times, serif;
}
h1 {
  color: white;
  text-align: center;
}
p {
  color: white;
  text-align: center;
  font-size: 14pt;
}
a {
  color: powderblue;
}